@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

#root {
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  min-height: 100vh;

  min-height: 100vh;


}

.recipePageImage {
  width: 75vw;
  height: 42vw;
  margin-left: 12.5vw;
  margin-right: 12.5vw;
  margin-top: 2rem;
}

.bg-nav {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}


input[type="checkbox"]:checked {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
}

