
/*background-color:  #F5EFE8; */
#root {
    @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    background-color: #166534;
    min-height: 100vh;
    


}

input[type="checkbox"]:checked {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
}

.recipePageImage {
    width: 75vw;
    height: 42vw;
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    margin-top: 2rem;
}

.bg-nav{
    background-color: #4CAF50;
}
